header.img_head
  img(src='./images/Background-min.png' alt='')
  .dreamshare
    h2 DREAMSHARE
  .registration
    .block_Log
      a(href='#') Log in
    .block_Sing
      a(href='#') Sing up
  .head_text
    h1 SHARE YOUR HOLIDAY DREAM
    p And find the perfect partner to fullfill it
    .button_find
      a(href='#') Find your holiday partner
.container
  .block_Dreamshare
    h3 How Dreamshare works?
    .item_Dreamshare
      .item_step1
        .button_step1
          a(href='#') step 1
        h4 Sed leo enim, condimentum
        p
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      .item_step2
        .button_step2
          a(href='#') step 2
        h4 Morbi velit risus
        p
          | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
      .item_step3
        .button_step1
          a(href='#') step 3
        h4 Sed leo enim, condimentum
        p
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
  .block_partner
    h3 Meet a partner for your best holiday
    .about_team
      .block_team
        .img_team
          img(src='./images/Photo-min.png' alt='')
        .item
          img(src='./images/music2.svg' alt='')
        h5 Bradley Hunter
        p Based in Chicago. I love playing tennis and loud music.
      .block_team
        .img_team
          img(src='./images/Photo2-min.png' alt='')
        .item2
          img(src='./images/Shape.svg' alt='')
        h5 Marie Bennett
        p Currently living in Colorado. Lover of art, languages and travelling.
      .block_team
        .img_team
          img(src='./images/Photo3-min.png' alt='')
        .item3
          img(src='./images/camera.svg' alt='')
        h5 Bradley Hunter
        p
          | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
      .block_team
        .img_team
          img(src='./images/Avatar4-min.png' alt='')
        .item4
          img(src='./images/airplane.svg' alt='')
        h5 Bradley Hunter
        p Star Wars fanatic. I have a persistent enthusiasm to create new things.
  .button_other_partners
    a(href='#') See other partners
  .discover_holiday1
    h3 Discover holiday activity ideas
    .block_holiday
      .img_holiday1
        p Sports and Activis
      .img_holiday2
        p Wellness and Health
      .img_holiday3
        p
          | Extreme Sports 
          br
          |  and Expeditions
  .block_holiday2
    .img_holiday4
      p Games
    .img_holiday5
      p Culture and Education
    .img_holiday6
      p Enjomet and Relaxation
    .img_holiday7
      p Trevelling
  .block_crate
    h3 Crate your holiday activity
    p Hi! What are your holiday interests?
    .search_block
      .search
        form
          input(type='search' placeholder='Enter your insterests')
      .button_search
        a(href='') Search partners
// container
footer
  hr
  .container_down
    .logo
      p DESIGNED BY
      img(src='./images/Bitmapfooter-min.png' alt='')